@model CodeSectorCMS.Web.Models.SubscriberGroupViewModel

@{
    ViewBag.Title = "Edit";
    CodeSectorCMS.Web.Models.SubscriberGroupViewModel sgm = new CodeSectorCMS.Web.Models.SubscriberGroupViewModel();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>SubscriberGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="editor-field">

                @for (var i = 0; i < Model.Subscribers.Count; i++)
                {
                    @Html.CheckBoxFor(x => Model.Subscribers[i].IsSelected)
                    @Html.DisplayFor(x => Model.Subscribers[i].Email)
                    @Html.HiddenFor(x => Model.Subscribers[i].SubscriberID)

                    <br />
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

    <input type="hidden" name="Value" value="@sgm" />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
