html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.title-link h1 a {
    text-decoration: none;
    display: block;
    color: #000;
    text-shadow: 2px 2px #e2e2e2;
}

    .title-link h1 a:hover {
        color: red;
    }


#menu li a:hover {
    color: #f00;
    background: #f1aaaa
}

.customfieldwrapperdiv {
    display: inline-block;
}

.customfield {
    width: auto;
    height: auto;
    float: left;
    border: solid white 2px;
    padding: 3px;
    background-color: red;
    color: white;
    font-weight: bold;
}

    .customfield:hover {
        cursor: pointer;
    }


/*a:hover {
    background: #c7c0c0;
}*/ fi

.title-link h1 a:hover {
    background: #fff;
    color: #f00;
}

.icon {
    background-image: url(images/CreateNew_small.png);
    width: 64px;
    height: 64px;
    display: block;
    text-indent: -9999px;
}

.iconAddUser {
    background-image: url(images/AddUserIcon.png);
    width: 64px;
    height: 64px;
    display: block;
    text-indent: -9999px;
}