@model CodeSectorCMS.Domain.Campaign

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Campaign</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CampaignID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientID" class="control-label"></label>
                <select asp-for="ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
                <span asp-validation-for="ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountID" class="control-label"></label>
                <select asp-for="AccountID" class="form-control" asp-items="ViewBag.AccountID"></select>
                <span asp-validation-for="AccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemplateID" class="control-label"></label>
                <select asp-for="TemplateID" class="form-control" asp-items="ViewBag.TemplateID"></select>
                <span asp-validation-for="TemplateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriberGroupID" class="control-label"></label>
                <select asp-for="SubscriberGroupID" class="form-control" asp-items="ViewBag.SubscriberGroupID"></select>
                <span asp-validation-for="SubscriberGroupID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailConfigID" class="control-label"></label>
                <select asp-for="MailConfigID" class="form-control" asp-items="ViewBag.MailConfigID"></select>
                <span asp-validation-for="MailConfigID" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
